<h1>Editing Pony</h1>

<%= render 'form', pony: @pony %>

<!-- <div class="row">
  <div class="small-5 columns" id="pony-row-button">
    <%= link_to 'Show', @pony, :class => "button button primary hollow button" %>
    <%= link_to 'Back', ponies_path, :class => "button button primary hollow button" %>
  </div>
</div> -->
